a {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: lightgrey;
}
.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 1;
}
mat-toolbar {
  z-index: 100;
  position: fixed;
  background-color: black;
}

.active {
  background-color: pink;
}
