<div style="background-color: black;" fxHide.lt-md>
  <mat-toolbar fxLayout>
    <div style="padding: 5px;" fxLayout>
      <section style="width: 518px;">
        <div>
          <img
            src="\assets\Images\Modern\club\logo.jpg"
            style="width: 480px; height: 150px;"
          />
        </div>
        <div>
          <p style="font-size: 25px;">
            <b>Company Name </b>
          </p>
          <div style="font-size: 15px;">
        ________________________________________________<br />
         __________________________________________________<br />
          __________________________________________________<br />
          </div>
        </div>
        <div>
          <p style="font-size: 20px; text-align: center;">
            <b>Connect With Us :</b>
          </p>
          <div fxLayoutAlign="center" fxLayoutGap="40px">
              <img class="circle" src="\assets\Images\Modern\club\facebook.png"
            />
              <img class="circle" src="\assets\Images\Modern\club\gmail.png"
            />

              <img class="circle" src="\assets\Images\Modern\club\insta.png"
            />
              <img class="circle" src="\assets\Images\Modern\club\linkedin.png"
            />
          </div>
        </div>
      </section>

      <hr style="color: wheat;" />
      <section style="padding: 20px; width: 400px;">
        <div>
          <p style="font-size: 23px;">
            <b>Address :</b>
          </p>
          <div style="font-size: 15px;">
           ______________________________________<br />
           ______________________________________<br />
           ______________________________________<br />
            <br />
          </div>
        </div>
        <div>
          <p style="font-size: 23px;">
            <b>Contact Number :</b>
          </p>
          <div style="font-size: 15px;">
           person 1: 7365485958<br>
          person 2:  9875642457<br />
            person 3 : 3456754321
            <br /><br />
          </div>
        </div>
        <div>
          <p style="font-size: 20px;">
            <b>Email ID:</b>
              xyz@abc.com
          </p>
        </div>
      </section>

      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <p style="font-size: 23px;">
          <b>Links</b>
        </p>
        <section style="font-size: 15px;">
          <ul>
           <li>Home</li>
           <li>About Us</li>
           <li>Our Service</li>
           <li>Our Project</li>
            <li>Contact Us</li>
          </ul>
        </section>

      </section>
    </div>
  </mat-toolbar>
  <hr style="color: wheat;" />
  <mat-toolbar fxLayoutAlign="center">
    <section>
      <div style="font-size: 20px; text-align: center;">
        @ Developed and maintained by__
        <br />
      </div>
    </section>
  </mat-toolbar>
</div>

<div fxHide.gt-md>
  <div style="background-color: black;" fxLayoutAlign="center">
    <mat-toolbar>
      <div>
        <section style="width: 100%;">
          <div>
            <img src="\assets\Images\Modern\club\logo.jpg" style="width: 100%;" />
          </div>
          <div>
            <p style="font-size: 25px; text-align: center;">
              <b>Company Name</b>
            </p>
            <p style="font-size: 14px; text-align: justify;">

          _____________________________________<br />
          _____________________________________<br />
          _____________________________________<br />
          _____________________________________<br />
          _____________________________________<br />
          _____________________________________<br />
            </p>
          </div>
          <div>
            <p style="text-align: center;">
              <b>Connect With Us :</b>
            </p>
            <div fxLayoutGap="20px" fxLayoutAlign="center">
                <img class="circle" src="\assets\Images\Modern\club\facebook.png"
              />
                <img class="circle" src="\assets\Images\Modern\club\gmail.png"
              />
                <img class="circle" src="\assets\Images\Modern\club\insta.png"
              />
                <img class="circle" src="\assets\Images\Modern\club\linkedin.png"
              />
            </div>
          </div>
        </section>

        <hr style="color: wheat;" />
        <section style="width: 100%;">
          <div>
            <p style="font-size: 23px;">
              <b>Address :</b>
            </p>
            <div style="font-size: 15px;">
             _____________________________________<br />
             _____________________________________<br />
             _____________________________________<br />
              <br />
            </div>
          </div>
          <div>
            <p style="font-size: 23px;">
              <b>Contact Number :</b>
            </p>
            <div style="font-size: 15px;">
              person 1: 7365485958<br>
              person 2:  9875642457<br />
                person 3 : 3456754321
                <br /><br />
            </div>
          </div>
          <div>
            <p style="font-size: 20px;">
              <b>Email ID:</b><br />
                xyz@abc.com

            </p>
          </div>
        </section>

        <section>
          <p style="font-size: 23px;">
            <b>Links</b>
          </p>
          <section style="font-size: 15px;">
            <ul>
              <li>Home</li>
              <li>About Us</li>
       <li>Our Services</li>
              <li>Our Project</li>
              <li>Contact Us</li>
            </ul>
          </section>

        </section>
        <hr style="color: wheat;" />
        <section>
          <div style="font-size: 15px; text-align: center;">
            @ Developed and maintained by the<br />
          _______
            <br />
          </div>
        </section>
      </div>
    </mat-toolbar>
  </div>
</div>
