.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.redbutton{
  background-color:rgb(247, 76, 76);
  width: 200px;height: 50px;
  color: white;
  border-radius: 10px;
  border-color:rgb(247, 76, 76);
}
.mobredbutton{
  background-color:rgb(247, 76, 76);
  width: 100px;height: 30px;
  color: white;
  border-radius: 10px;
  border-color:rgb(247, 76, 76);
}
mat-card{
  width: 90%;
}
mat-card-content{
  text-align: center;
}
.bg {
  /* The image used */
  background-image: url("/assets/Images/Modern/club/main2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
  /* The image used */
  background-image: url("/assets/Images/Modern/club/drinks.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  /* The image used */
  background-image: url("/assets/Images/Modern/club/party.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg3 {
  /* The image used */
  background-image: url("/assets/Images/Modern/club/club.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
