<div fxHide.lt-md
>
  <div class="container">
    <img style="width: 100%; height: 500px;" src="\assets\Images\Modern\club\main.jpg" />
    <div class="centered">
      <section
        style="
          font-size: 50px;
          font-weight: bold;
          color: black;
          line-height: 75px;
          background-color: white;
        "
      >
        Company Name
      </section>
      <section
        style="
          font-size: 40px;
          font-weight: bold;
          color: black;
          line-height: 40px;
          background-color: white;
        "
      >
        Add Your Company's Tagline
      </section>
      <br />
      <section>
        <button class="redbutton">
          Let's Connect
        </button>
      </section>
    </div>
  </div>
  <br /><br /><br />
  <div>
    <div div fxLayoutAlign="center">
      <mat-card>
        <mat-card-content
          ><br />
          <div fxLayout fxLayoutAlign="center" fxLayoutGap="100px">
            <section>
              <p
                style="
                  text-align: center;
                  font-size: 30px;
                  color: rgb(255, 185, 168);
                  padding-top: 40px;
                "
              >
                Know Us
              </p>
              <p style="text-align: center;">
                _____________________________________________________________________________________________<br />
                ______________________________________________________________________________________<br />
                __________________________________________________________________________<br />
                _____________________________________________________________________<br />
                _______________________________________________________________<br />
                __________________________________________________________<br />
                ______________________________________________________<br />
              </p>
              <section fxLayoutAlign="center">
                <button
                  class="redbutton"
                  style="
                    background-color: rgb(255, 185, 168);
                    border-color: rgb(255, 185, 168);
                  "
                >
                  Know More
                </button>
              </section>
            </section>
            <section>
              <img
                style="width: 500px; height: 300px;"
                src="\assets\Images\Modern\club\knowus.jpg"
              />
            </section>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br /><br /><br />
    <div fxLayoutAlign="center">
      <mat-card>
        <mat-card-content
          ><br />
          <div fxLayout fxLayoutAlign="center" fxLayoutGap="100px">
            <section>
              <img
                style="width: 500px; height: 300px;"
                src="\assets\Images\Modern\club\knowus.jpg"
              />
            </section>
            <section>
              <p
                style="
                  text-align: center;
                  font-size: 30px;
                  color: rgb(247, 76, 76);
                  padding-top: 40px;
                "
              >
                Our Idea
              </p>
              <p style="text-align: center;">
                _____________________________________________________________________________________________<br />
                ______________________________________________________________________________________<br />
                __________________________________________________________________________<br />
                _____________________________________________________________________<br />
                _______________________________________________________________<br />
                __________________________________________________________<br />
                ______________________________________________<br />
              </p>
              <section fxLayoutAlign="center">
                <button class="redbutton">
                  Explore More
                </button>
              </section>
            </section>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br /><br /><br />
    <section>
      <p style="color: white; font-size: 50px;">MEET OUR TEAM</p>
    </section>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="60px">

      <section>
        <mat-card style="background-color: black; color: white;">
          <img
            style="height: 300px; width: 300px; border-radius: 50%;"
            src="\assets\Images\Modern\club\team.jpg"
          />
          <mat-card-content
            ><br />
            <p>Name</p>
            <p>
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
            </p>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card style="background-color: black; color: white;">
          <img
            style="height: 300px; width: 300px; border-radius: 50%;"
            src="\assets\Images\Modern\club\team.jpg"
          />
          <mat-card-content
            ><br />
            <p>Name</p>
            <p>
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
            </p>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card style="background-color: black; color: white;">
          <img
            style="height: 300px; width: 300px; border-radius: 50%;"
            src="\assets\Images\Modern\club\team.jpg"
          />
          <mat-card-content
            ><br />
            <p>Name</p>
            <p>
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
            </p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
    <br /><br /><br />
    <div fxLayoutAlign="center">
      <mat-card fxLayout fxLayoutAlign="center" fxLayoutGap="60px">
        <section fxLayout="column" fxLayoutAlign="center center">
          <p style="font-size: 40px;">Need More Details?</p>
          <br />
          <p style="font-size: 30px;">Contact Us</p>
          <br /><br />
          <p style="font-size: 20px;">Contact number :- 1547896325</p>
          <br /><br />
          <p style="font-size: 20px; text-align: right;">
            Address: _________________________<br />
            _________________________<br />
            _________________________<br />
            _________________________<br />
          </p>
          <br /><br />
          <p style="font-size: 20px;">Email ID :- abc@xyz.com</p>
          <br /><br />
        </section>
        <section>
          <mat-card
            fxLayoutAlign="center center"
            style="width: 300px; height: 500px; font-size: 50px;"
          >
            FORM
          </mat-card>
        </section>
        <section>
          <mat-card
            fxLayoutAlign="center center"
            style="width: 300px; height: 500px; font-size: 50px;"
          >
            MAP
          </mat-card>
        </section>
      </mat-card>
    </div>
  </div>
</div>

<div fxHide.gt-md
>
  <div class="container">
    <img style="width: 100%; height: 300px;" src="\assets\Images\Modern\club\main.jpg" />
    <div class="centered">
      <section
        style="
          font-size: 25px;
          font-weight: bold;
          color: black;
          line-height: 35px;
          background-color: white;
        "
      >
        Company Name
      </section>
      <section
        style="
          font-size: 20px;
          font-weight: bold;
          color: black;
          line-height: 25px;
          background-color: white;
        "
      >
        Company's Tagline
      </section>
      <br />
      <section>
        <button class="mobredbutton">
          Let's Connect
        </button>
      </section>
    </div>
  </div>
  <br /><br /><br />
  <div fxLayout="column">
    <div div fxLayoutAlign="center center">
      <mat-card style="width: 80%;">
        <mat-card-content
          ><br />
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="30px"
          >
            <section>
              <p
                style="
                  text-align: center;
                  font-size: 30px;
                  color: rgb(255, 185, 168);
                "
              >
                Know Us
              </p>
              <p style="text-align: center;">
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
              </p>
              <section fxLayoutAlign="center center">
                <button
                  class="redbutton"
                  style="
                    background-color: rgb(255, 185, 168);
                    border-color: rgb(255, 185, 168);
                  "
                >
                  Know More
                </button>
              </section>
            </section>
            <section>
              <img
                style="width: 300px; height: 300px;"
                src="\assets\Images\Modern\club\knowus.jpg"
              />
            </section>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br /><br /><br />
    <div div fxLayoutAlign="center center">
      <mat-card style="width: 80%;">
        <mat-card-content
          ><br />
          <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
            <section>
              <p
                style="
                  text-align: center;
                  font-size: 30px;
                  color: rgb(255, 185, 168);
                "
              >
                Our Idea
              </p>
              <p style="text-align: center;">
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
                _________________________________________________<br />
              </p>
              <section fxLayoutAlign="center">
                <button
                  class="redbutton"
                  style="
                    background-color: rgb(255, 185, 168);
                    border-color: rgb(255, 185, 168);
                  "
                >
                  Know More
                </button>
              </section>
            </section>
            <section>
              <img
                style="width: 300px; height: 300px;"
                src="\assets\Images\Modern\club\knowus.jpg"
              />
            </section>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br /><br /><br />
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="60px">
      <section>
        <p style="color: white; font-size: 20px;">Meet Our Team</p>
      </section>
      <section>
        <mat-card style="background-color: black; color: white;">
          <img
            style="height: 300px; width: 300px; border-radius: 50%;"
            src="\assets\Images\Modern\club\team.jpg"
          />
          <mat-card-content
            ><br />
            <p>Name</p>
            <p>
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
            </p>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card style="background-color: black; color: white;">
          <img
            style="height: 300px; width: 300px; border-radius: 50%;"
            src="\assets\Images\Modern\club\team.jpg"
          />
          <mat-card-content
            ><br />
            <p>Name</p>
            <p>
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
            </p>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card style="background-color: black; color: white;">
          <img
            style="height: 300px; width: 300px; border-radius: 50%;"
            src="\assets\Images\Modern\club\team.jpg"
          />
          <mat-card-content
            ><br />
            <p>Name</p>
            <p>
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
              __________________________________________________<br />
            </p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
    <br /><br /><br />
    <div fxLayoutAlign="center"
    >
      <mat-card fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="60px"
      >
        <section fxLayout="column" style="text-align: center;">
          <p style="font-size: 40px; line-height: 40px;">Need More Details?</p>
          <br />
          <p style="font-size: 30px;">Contact Us</p>
          <br /><br />
          <p style="font-size: 20px;">Contact number :- 1547896325</p>
          <br /><br />
          <p style="font-size: 20px;">
            Address: <br>_________________________<br />
            _________________________<br />
            _________________________<br />
            _________________________<br />
          </p>
          <br /><br />
          <p style="font-size: 20px;">Email ID :- abc@xyz.com</p>
          <br /><br />
        </section>
        <section>
          <mat-card
            fxLayoutAlign="center center"
            style="width: 300px; height: 350px; font-size: 50px;"
          >
            FORM
          </mat-card>
        </section>
        <section>
          <mat-card
            fxLayoutAlign="center center"
            style="width: 300px; height: 350px; font-size: 50px;"
          >
            MAP
          </mat-card>
        </section>
      </mat-card>
    </div>
  </div>
</div>
